<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--Services-->
    <bean id="crmService" class="com.tradedoubler.billing.service.crm.CrmServiceImpl"/>
    <bean id="axService" class="com.tradedoubler.billing.service.ax.AxServiceImpl"/>
    <bean id="panService" class="com.tradedoubler.billing.service.pan.PanServiceImpl"/>

    <!-- FTP client -->
    <bean id="axFtpClient" class="com.tradedoubler.billing.service.ax.ftp.AxFtpClient">
        <property name="host" value="${FTP.HOST}"/>
        <property name="path" value="${FTP.PATH}"/>
        <property name="username" value="${FTP.USERNAME}"/>
        <property name="password" value="${FTP.PASSWORD}"/>
    </bean>



</beans>