<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="axWebServicePortHandler" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.tradedoubler.billing.service.ax.webservice.AxWebServiceSetup"/>
    </bean>

    <bean id="azureServiceSetup" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.tradedoubler.billing.service.crm.AzureServiceSetup"/>
    </bean>

    <bean id="fTPSetup" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.tradedoubler.billing.service.ax.ftp.FtpSetupServiceSetupImpl"/>
    </bean>

    <bean id="panDatabaseServiceSetup" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.tradedoubler.billing.service.pan.PanDatabaseServiceSetup"/>
    </bean>

    <context:component-scan base-package="com.tradedoubler">
        <context:exclude-filter type="regex" expression=".*ServiceSetupImpl"/>
    </context:component-scan>

</beans>

